/* src/components/Navbar.css */
.navbar {
    background-color: limegreen;
    /* Cor de fundo da navbar */
    padding: 1px 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o título */
    color: white;
    /* Cor do texto */
    font-size: 1.5em;
    /* Tamanho do texto */
    font-weight: bold;
    /* Texto em negrito */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}